<% include partials/header.ejs %>
<% include partials/main_nav.ejs %>

<link rel= "stylesheet" href= "Content\about.css"/>

<main>
  <div class="jumbotron">
    <h1 class="display-4">Hello!</h1>
    <p class="lead">This is <%= title %>.</p>
    <hr class="my-4">
  </div>

  <div>
    <p class="text">
      Welcome to our survey website. This site allows you to create surveys and store them, offering a user-friendly platform for designing, managing, and analyzing survey data. Whether you’re looking to gather feedback, conduct research, or simply engage with your audience, our tools make it easy to create customized surveys for a variety of purposes.
    </p>
    <p class="text">
      With our website, you can:
      <ul>
        <li><strong>Create Surveys:</strong> Use our simple, intuitive interface to design surveys that suit your needs. Add multiple question types, and personalize content to fit your goals.</li>
      </ul>
    </p>
    <p class="text">
      This platform is ideal for educators, researchers, businesses, and anyone who needs to create surveys for their purposes. Our mission is to empower users by providing accessible tools to capture valuable insights. We’re here to make survey creation easy, impactful, and enjoyable.
    </p>
    <p class="text">
      Start creating surveys today. If you need any help, don't hesitate to reach out on our contact page!
    </p>
  </div>
</main>

<% include partials/bottom_nav.ejs %>
<% include partials/footer.ejs %>