
<% include partials/header.ejs %>
<% include partials/main_nav.ejs%>

<main>
<div class="jumbotron">
  <h1 class="display-4">Hello!</h1>
  <p class="lead">This is our <%=title%> .</p>
  <hr class="my-4">
  </p>
</div>
<section class="hero">
    <!-- Hero button -->
    <a href="/survey" class="hero-button">Get Started</a>
  </section>
</main>
<body>
  
</body>
<% include partials/bottom_nav.ejs%>
<% include partials/footer.ejs%>
