 <nav class="navbar fixed-bottom navbar-dark bg-dark">
  <div class="container-fluid">
  <p class="lead navbar-text">Copyright 2024 <i class="fa-regular fa-copyright"></i> Sharubaa, Caroline and Kezia</p>
  <hr class="my-4">
  </div>